
.ItemDetailBody{
    background-color: #9AEBA3;
    max-width: 380px;    
}



.CardTitle{
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
}

.CardDescription{
    font-family: Roboto;
    font-size: 20px;
}

.ButtonLinksContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.ButtonLink{
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #13678A;
    color: white;
    text-decoration: none;
    padding: 5px;
    max-width: 150px;
    text-align: center;
}

.ButtonLink:hover{
    color: #002e42; 
}