.ItemCountContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.ItemCount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ItemCountButton{
    height: 40px;
    width: 40px;
    background-color: #13678A;
    border: none;

    color: white;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;

}

.ItemCountQuantity{
    color: #13678A;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

.AddItemButton{
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #13678A;
    color: white;
    border: none;
    padding: 10px 50px;
}